<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
							http://www.springframework.org/schema/beans/spring-beans.xsd"
       profile="development">


    <bean id="person" class="org.ifollowyou.hmk.vo.Person">
        <property name="id" value="1"/>
        <property name="name" value="dev-person"/>
    </bean>
</beans>
