<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
							http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="login" class="org.ifollowyou.hmk.beans.Login">
        <property name="username" value="hmkcode"/>
    </bean>
    <bean id="loginTracker" class="org.ifollowyou.hmk.beans.LoginTracker"></bean>
</beans>
